<!DOCTYPE html>
<html>
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-V8X222K8YZ"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-V8X222K8YZ');
  </script>

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="styles.css" rel="stylesheet">
  <link rel="icon" type="image/png" href="img/favicon.ico" />

  <title>Datitos | Aprendizaje profundo 2022</title>
  <meta name="description" content="Nos propusimos dar un curso práctico y moderno; está dirigido a estudiantes de grado o posgrado, ingenierxs e investigadores que busquen un conocimiento sólido sobre deep learning." />

  <meta property="og:title" content="Datitos | Aprendizaje profundo 2022" />
  <meta property="og:description" content="Nos propusimos dar un curso práctico y moderno; está dirigido a estudiantes de grado o posgrado, ingenierxs e investigadores que busquen un conocimiento sólido sobre deep learning." />
  <meta property="og:image" content="https://datitos.github.io/curso-aprendizaje-profundo/img/nyan.png" />
  <meta property="og:url" content="https://datitos.github.io/curso-aprendizaje-profundo/" />
  <meta property="og:type" content="website" />
</head>
<body class="bg-purple-100">
  <nav class="h-12 bg-white fixed top-0 inset-x-0 z-50">
    <div class="container mx-auto px-8 max-w-screen-xl w-full h-full flex justify-start items-center">
      <a href="#datitos" class="flex items-center">
        <img height="20" src="img/nyan.png" class="h-10 mr-1">
        Datitos
      </a>
      <a href="#calendario" class="ml-6">
        Calendario
      </a>
      <a href="#formulario" class="ml-6">
        Inscripción 2022
      </a>
    </div>
  </nav>

  <div class="container mx-auto px-8 max-w-screen-xl mt-20 mb-16 font-light">
    <div class="text-center mb-10">
      <h1>Aprendizaje profundo</h1>
      por Datitos / Edición 2022
    </div>

    <section id="intro">
      <p><em>
        En los últimos cinco años el aprendizaje profundo ha tomado al mundo por sorpresa,
        impulsando un rápido progreso en campos tan diversos como la visión por computadora,
        el procesamiento del lenguaje natural, el reconocimiento automático del habla,
        el aprendizaje por refuerzos y el modelado estadístico.
      </em></p>

      <hr class="m-8 w-1/6 mx-auto border-red-500 border">

      <a href="https://d2l.ai"><img src="img/libro.png" alt="Tapa del libro Dive into Deep Learning" class="h-56 px-4 pb-4 md:float-left"></a>

      <p>
        Hemos elegido basar el curso en el libro <a href="https://d2l.ai">Dive into Deep Learning</a>, consideramos que
        ofrece un enfoque práctico, amplio y moderno, incluye matemáticas y código, y sus contenidos son actuales.
      </p>

      <p>
        Este curso representa nuestro intento de hacer que el aprendizaje profundo sea accesible, enseñándote los conceptos,
        el contexto y el código. Nos propusimos crear un recurso que simultáneamente pudiera:
      </p>

      <ul>
        <li>estar disponible gratuitamente para todes;</li>
        <li>ofrecer suficiente profundidad técnica para proporcionar un punto de partida en el camino de convertirte
            en unx científicx de datos;</li>
        <li>incluir código ejecutable, que muestre cómo resolver problemas en la práctica.</li>
      </ol>

      <p><b>
        El curso está dirigido a estudiantes de grado o posgrado, ingenierxs e investigadores que busquen un conocimiento
        sólido del aprendizaje profundo.
      </b></p>
    </section>
    
        <section id="equipo" class="clear-left">
      <h2>Instructores</h2>
      <div class="flex flex-wrap">
        <div class="p-4 text-center">
          <img src="img/luciano.jpg" class="h-32 mb-4 rounded-full">
          <a href="#lucho">Luciano Robino</a><br>Docente
        </div>

        <div class="p-4 text-center">
          <img src="img/pablo.jpg" class="h-32 mb-4 rounded-full">
          <a href="http://dharma.frm.utn.edu.ar/perfil/pmarinozi">Pablo Marinozi</a><br>Docente
        </div>

        <div class="p-4 text-center">
          <img src="img/matías.jpg" class="h-32 mb-4 rounded-full">
          <a href="https://matiasbattocchia.github.io/datitos/about/">Matías Battocchia</a><br>Coordinador
        </div>
      </div>
    </section>

    <section id="novedades">
      <h2>Novedades sobre la Edición 2022</h2>
      <p>
        Durante el primer semestre de 2021 llevamos adelante de manera totalmente independiente este curso de <i>deep learning</i> con inscripción totalmente gratuita. 
        Todo el material de la <a href="https://datitos.github.io/curso-aprendizaje-profundo/2021/" target="_blank">Edición 2021</a> se encuentra disponible, 
        pero lamentablemente no logramos conseguir el financiamiento para repetir la experiencia en el 2022.
        <br>
        Sin embargo, encontramos una alternativa que creemos que tiene varios beneficios. Nos aliamos con la asociación sin fines de lucro <a href="www.humai.com.ar" target="_blank">Humai </a> para dictar el curso de aprendizaje profundo. 
        Gracias a la ayuda de Humai, tenemos un plan más ambicioso para este año: no solo vamos a estar ofreciendo el curso de aprendizaje profundo, sino que vamos a agregar 8 cursos más. Estos cursos están pensados para una formación más completa en ciencia de datos e inteligencia artificial. 
        Por ejemplo, en la versión 2021 del curso habíamos pedido una serie de prerrequisitos. Este año hemos incluido cursos que permiten cumplirlos. Cada uno de estos cursos están pensados como módulos para mejorar la formación de cada alumno y hacer los contenidos más accesibles. 
        <br>
        Esto ha hecho que nuestro curso original se transforme en 3 cursos: 
        <a href="https://humai.com.ar/cursos/deep.html" target="_blank">Deep Learning</a> ,
        <a href="https://humai.com.ar/cursos/imagen.html" target="_blank">Computer Vision</a>  
        y <a href="https://humai.com.ar/cursos/lenguaje.html" target="_blank">Procesamiento de Lenguaje</a> .
        <br>
        Desafortunadamente, esta alternativa hace que los cursos no sean gratuitos. Nuestra alianza con Humai es justamente para garantizar un precio muy accesible.
        De todos modos, sabemos que esperabas un curso gratuito. En caso de que tu situación económica sea compleja, te contamos que Humai ofrece <a href="https://humai.com.ar/cursos/lenguaje.html" target="_blank">becas</a>. Cualquier persona puede aplicar a una beca, para cualquiera de los cursos.
        <br>
        Te dejamos los cursos que se dictarán el 2022 y para más información podés visitar la página de <a href="www.humai.com.ar" target="_blank">Humai </a> 
        <img src="img/12.png">
      </p>    </section>
    


    
  </div>
</body>
</html>
