<!DOCTYPE html>
<html>
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-V8X222K8YZ"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-V8X222K8YZ');
  </script>

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="styles.css" rel="stylesheet">
  <link rel="icon" type="image/png" href="img/favicon.ico" />

  <title>Datitos | Aprendizaje profundo 2021</title>
  <meta name="description" content="Nos propusimos dar un curso práctico y moderno; está dirigido a estudiantes de grado o posgrado, ingenierxs e investigadores que busquen un conocimiento sólido sobre deep learning." />

  <meta property="og:title" content="Datitos | Aprendizaje profundo 2021" />
  <meta property="og:description" content="Nos propusimos dar un curso práctico y moderno; está dirigido a estudiantes de grado o posgrado, ingenierxs e investigadores que busquen un conocimiento sólido sobre deep learning." />
  <meta property="og:image" content="https://datitos.github.io/curso-aprendizaje-profundo/img/nyan.png" />
  <meta property="og:url" content="https://datitos.github.io/curso-aprendizaje-profundo/" />
  <meta property="og:type" content="website" />
</head>
<body class="bg-purple-100">
  <nav class="h-12 bg-white fixed top-0 inset-x-0 z-50">
    <div class="container mx-auto px-8 max-w-screen-xl w-full h-full flex justify-start items-center">
      <a href="#" class="flex items-center">
        <img height="20" src="img/nyan.png" class="h-10 mr-1">
        Datitos
      </a>
      <a href="#calendario" class="ml-6">
        Calendario
      </a>
      <a href="#formulario" class="ml-6">
        Inscripción
      </a>
    </div>
  </nav>

  <div class="container mx-auto px-8 max-w-screen-xl mt-20 mb-16 font-light">
    <div class="text-center mb-10">
      <h1>Aprendizaje profundo</h1>
      por Datitos / Otoño 2021
    </div>

    <section id="intro">
      <p><em>
        En los últimos cinco años el aprendizaje profundo ha tomado al mundo por sorpresa,
        impulsando un rápido progreso en campos tan diversos como la visión por computadora,
        el procesamiento del lenguaje natural, el reconocimiento automático del habla,
        el aprendizaje por refuerzos y el modelado estadístico.
      </em></p>

      <hr class="m-8 w-1/6 mx-auto border-red-500 border">

      <a href="https://d2l.ai"><img src="img/libro.png" alt="Tapa del libro Dive into Deep Learning" class="h-56 px-4 pb-4 md:float-left"></a>

      <p>
        Hemos elegido basar el curso en el libro <a href="https://d2l.ai">Dive into Deep Learning</a>, consideramos que
        ofrece un enfoque práctico, amplio y moderno, incluye matemáticas y código, y sus contenidos son actuales.
      </p>

      <p>
        Este curso representa nuestro intento de hacer que el aprendizaje profundo sea accesible, enseñándote los conceptos,
        el contexto y el código. Nos propusimos crear un recurso que simultáneamente pudiera:
      </p>

      <ul>
        <li>estar disponible gratuitamente para todes;</li>
        <li>ofrecer suficiente profundidad técnica para proporcionar un punto de partida en el camino de convertirte
            en unx científicx de datos;</li>
        <li>incluir código ejecutable, que muestre cómo resolver problemas en la práctica.</li>
      </ol>

      <p><b>
        El curso está dirigido a estudiantes de grado o posgrado, ingenierxs e investigadores que busquen un conocimiento
        sólido del aprendizaje profundo.
      </b></p>
    </section>

    <section id="equipo" class="clear-left">
      <h2>Instructores</h2>
      <div class="flex flex-wrap">
        <div class="p-4 text-center">
          <img src="img/luciano.jpg" class="h-32 mb-4 rounded-full">
          <a href="#">Luciano Robino</a><br>Docente
        </div>

        <div class="p-4 text-center">
          <img src="img/pablo.jpg" class="h-32 mb-4 rounded-full">
          <a href="http://dharma.frm.utn.edu.ar/perfil/pmarinozi">Pablo Marinozi</a><br>Docente
        </div>

        <div class="p-4 text-center">
          <img src="img/matías.jpg" class="h-32 mb-4 rounded-full">
          <a href="https://matiasbattocchia.github.io/datitos/about/">Matías Battocchia</a><br>Coordinador
        </div>
      </div>
    </section>

    <section id="importante" class="flex justify-between flex-wrap -ml-16">
      <div class="w-64 flex-grow ml-16">
        <h2>Clases</h2>
        <p>Comienzan en marzo y se extienden hasta junio.</p>
        <p>
          Los videos de las clases estarán disponibles los lunes y los miércoles a las 8:30
          en este <a href="https://www.youtube.com/channel/UCFjy65CGFDRHABHUiDxfceQ"><b>canal de YouTube</b></a>.
        </p>
      </div>

      <div class="w-64 flex-grow ml-16">
        <h2>Consultas</h2>
        <p>Los horarios de consulta son jueves de 17:00 a 19:00 y viernes de 10:00 a 12:00.</p>
        <p>
          Usaremos este <a href="https://discord.gg/pSwnfDB7Nw"><b>servidor de Discord</b></a> como canal de comunicación
          para las consultas, grupos de estudio, noticias y demás.
        </p>
      </div>

      <div class="w-64 flex-shrink ml-16">
        <h2>Formato</h2>
        <ul class="list-none">
          <li>24 clases</li>
          <li>10 prácticos</li>
          <li>2 exámenes</li>
          <li>Proyecto final</li>
        </ul>
      </div>
    </section>

    <section id="contenidos">
      {{> 01_CONTENIDOS }}
    </section>

    <section id="logística">
      {{> 02_LOGÍSTICA }}
    </section>

    <section id="calendario">
      <h2 >Calendario</h2>

      <div class="overflow-auto">
        {{> 05_CALENDARIO }}
      </div>
    </section>

    <section id="faq">
      {{> 06_FAQ }}
    </section>

    <section id="formulario">
      <h2>Inscripción</h2>
      <p>
        Dado el tamaño del equipo docente, la capacidad de corrección y seguimiento es limitada, por lo que existe
        un cupo de inscripción. Para la selección priorizaremos:
      </p>
      <ul>
        <li>Cumplimiento de los prerrequisitos.</li>
        <li>Radicación en la provincia de Mendoza.</li>
        <li>Pertenencia a grupos minoritarios.</li>
      </ul>
      <p>
        El material del curso es de acceso libre y gratuito, independientemente del resultado de la selección.
        <b>Te contactaremos por correo para avisarte del resultado de la pre-inscripción.</b>
      </p>

      <a href="https://docs.google.com/forms/d/e/1FAIpQLSe6UGJdHNcGhOL9Kcr1nVK2HNokTk6C39zb0XGKlQ7_mTROxw/viewform" class="md:hidden bg-white flow-root w-1/2 mx-auto p-4 mt-8 text-center">Ir al formulario</a>

      <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSe6UGJdHNcGhOL9Kcr1nVK2HNokTk6C39zb0XGKlQ7_mTROxw/viewform?embedded=true" width="640" height="1300" class="mx-auto hidden md:block mt-8">Cargando formulario de inscripción...</iframe>
    </section>
  </div>
</body>
</html>
