<!DOCTYPE html>
<html>
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-V8X222K8YZ"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-V8X222K8YZ');
  </script>

  <title>AP 2021</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!--<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">-->
  <link href="styles.css" rel="stylesheet">
</head>
<body class="bg-purple-100">
  <nav class="h-12 bg-white fixed top-0 inset-x-0 z-50">
    <div class="container mx-auto px-4 max-w-screen-xl w-full h-full flex justify-start items-center">
      <a href="#" class="flex items-center">
        <img height="20" src="img/nyan.png" class="h-10 mr-1">
        Datitos
      </a>
      <a href="#calendario" class="ml-32">
        Calendario
      </a>
      <a href="#formulario" class="ml-8">
        Inscripción
      </a>
    </div>
  </nav>

  <div class="container mx-auto px-4 max-w-screen-xl mt-20 mb-7">
    <div class="text-center mb-10">
      <h1>Aprendizaje profundo</h1>
      por Datitos / Otoño 2021
    </div>

    <p>Solo en los últimos cinco años, el aprendizaje profundo ha tomado al mundo por sorpresa, impulsando un rápido progreso en campos tan diversos como la visión por computadora, el procesamiento del lenguaje natural, el reconocimiento automático del habla, el aprendizaje por refuerzo y el modelado estadístico. </p>

    <p> Este curso representa nuestro intento de hacer que el aprendizaje profundo sea accesible, enseñandote los conceptos, el contexto y el código. Nos propusimos crear un recurso que simultáneamente pudiera: </p>
    <ol type="i">
      <li> estar disponible gratuitamente para todos; </li>
      <li> ofrecer suficiente profundidad técnica para proporcionar un punto de partida en el camino para convertirse realmente en un científico de aprendizaje automático aplicado; </li>
      <li> incluir código ejecutable, que muestre a los estudiantes cómo resolver problemas en la práctica. </li>
    </ol> 
    <p> El curso está dirigido a estudiantes (de grado o posgrado), ingenieros e investigadores que busquen un conocimiento sólido de las técnicas prácticas del aprendizaje profundo.
    Debido a que explicamos cada concepto desde cero, no se requieren conocimientos previos en aprendizaje profundo o aprendizaje automático. 
    Explicar completamente los métodos de aprendizaje profundo requiere algo de matemáticas y programación, pero solo vamos a asumir que saben los conceptos básicos sobre álgebra lineal, cálculo, probabilidad y programación con Python. </p>
    <section id="equipo">
      <h2>Instructores</h2>
      <div class="flex flex-wrap">
        <div class="p-4 text-center">
          <img src="img/luciano.jpg" class="h-32 mb-4 rounded-full">
          Luciano Robino<br>Docente
        </div>

        <div class="p-4 text-center">
          <img src="img/pablo.jpg" class="h-32 mb-4 rounded-full">
          <a href="http://dharma.frm.utn.edu.ar/perfil/pmarinozi">Pablo Marinozi</a><br>Docente
        </div>

        <div class="p-4 text-center">
          <img src="img/matías.jpg" class="h-32 mb-4 rounded-full">
          Matías Battocchia<br>Coordinador
        </div>
      </div>
    </section>

    <section id="info">
      {{> 01_LOGÍSTICA }}

      {{> 02_CONTENIDO }}
    </section>


    <!--<section id="tareas">
      {{> 03_PRÁCTICOS }}

      {{> 04_PROYECTO }}
    </section>-->

    <section id="calendario">
      <h2 >Calendario</h2>

      {{> 05_CALENDARIO }}
    </section>

    <section id="faq">
      {{> 06_FAQ }}
    </section>

    <section id="formulario">
      <h2>Inscripción</h2>

      <a href="https://docs.google.com/forms/d/e/1FAIpQLSe6UGJdHNcGhOL9Kcr1nVK2HNokTk6C39zb0XGKlQ7_mTROxw/viewform" class="md:hidden bg-white flow-root w-1/2 mx-auto p-4 text-center">Ir al formulario</a>

      <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSe6UGJdHNcGhOL9Kcr1nVK2HNokTk6C39zb0XGKlQ7_mTROxw/viewform?embedded=true" width="640" height="800" class="mx-auto hidden md:block">Cargando formulario de inscripción...</iframe>
    </section>
  </div>
</body>
</html>
