<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!--<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">-->
  <link href="styles.css" rel="stylesheet">
</head>
<body class="bg-purple-100">
  <div class="md:container md:mx-auto">
    <div class="text-center">
      <h1>Aprendizaje profundo</h1>
      por Datitos / Otoño 2021
    </div>

    <p>Natural language processing (NLP) is a crucial part of artificial intelligence (AI), modeling how people share information. In recent years, deep learning approaches have obtained very high performance on many NLP tasks. In this course, students gain a thorough introduction to cutting-edge neural networks for NLP.</p>

    <h2>Instructores</h2>

    Luciano
    Pablo
    Matías

    {{> 01_LOGÍSTICA }}

    {{> 02_CONTENIDO }}

    {{> 03_PRÁCTICOS }}

    {{> 04_PROYECTO }}

    <h2>Calendario</h2>

    <p>Updated lecture slides will be posted here shortly before each lecture. Other links contain last year's slides, which are mostly similar.</p>

    <p>Lecture notes will be uploaded a few days after most lectures. The notes (which cover approximately the first half of the course content) give supplementary detail beyond the lectures.</p>

    {{> 05_CALENDARIO }}

    {{> 06_FAQ }}

    <h2>Formulario</h2>

    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSe6UGJdHNcGhOL9Kcr1nVK2HNokTk6C39zb0XGKlQ7_mTROxw/viewform?embedded=true" width="640" height="700" class="mx-auto">Cargando formulario de inscripción...</iframe>
  </div>
</body>
</html>
